* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-list {
    display: flex;
    margin-top: 1.5em;
}

.nav-items {
    margin: auto 1em;
    list-style: none;
}
.fawesome {
    margin: auto .2em;
    color: navy;
}

.container {
    display: flex;
    justify-content: center;
}
.title {
    justify-content: center;
    background-color: #a583e3;
    color: white;
    text-align: center;
    padding: .3em 2em;
    margin: 1em;
    width: fit-content;
    border-radius: .2em;
}

